version: "3.9"

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: doctor-appointment-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: doctor-appointment-frontend
    ports:
      - "3000:80"
    restart: always

  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    image: doctor-appointment-admin
    ports:
      - "3001:80"
    restart: always
